<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Output | NexERP</title>
  <link rel="stylesheet" href="/css/w3.css">
  <link rel="stylesheet" href="/css/w3-theme-blue.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/select2.min.css">
  <link rel="stylesheet" href="/css/jquery.datepick.css">
  <link rel="stylesheet" href="/css/mrp.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.plugin.min.js"></script>
  <script src="/js/jquery.datepick.min.js"></script>
  <script src="/js/select2.min.js"></script>
  <script src="/js/mrp.js"></script>
</head>
<body>

<div id="myContent" class="w3-main" style="background-color:#f2fbf2;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h4 class="w3-bold"><i class="fa fa-file-o"></i>&nbsp;&nbsp;<%= typeof heading !== 'undefined' ? heading : 'Daily Output' %></h4>
  </header>

  <div class="w3-panel w3-pale-yellow w3-border">
    <h3>Daily Output Form</h3>
    <p>This is a temporary simplified version of the daily output form while we fix template syntax issues.</p>
    <p>Transaction mode: <%= typeof txn_mode !== 'undefined' ? txn_mode : 'unknown' %></p>
    <p>Document reference: <%= typeof doc_ref !== 'undefined' ? doc_ref : 'New Document' %></p>
  </div>

  <!-- Footer -->
  <footer class="w3-margin-top w3-theme-l4 w3-padding-16">
    <div class="w3-container">
      <a href="/page/manufacture/daily_inquiry" class="w3-button w3-white w3-round w3-margin-bottom">Back to Inquiry</a>
      <a href="/page/dashboard" class="w3-button w3-white w3-round w3-margin-bottom">Dashboard</a>
    </div>
  </footer>
</div>

<script>
  $(document).ready(function() {
    // Initialize datepicker
    $('.datepicker').datepick({
      dateFormat: 'dd-mm-yyyy',
      showOnFocus: true,
      showTrigger: '<button type="button" class="trigger"><i class="fa fa-calendar"></i></button>'
    });
  });
</script>

</body>
</html>
